/**
 * CascadeMultiSelect Component Demo Style for Uxcore
 * @author guyunxiang
 *
 * Copyright 2015-2016, Uxcore Team, Alinw.
 * All rights reserved.
 */

@import "../node_modules/kuma-base/theme/orange";
@import "../node_modules/uxcore-cascade-select/src/CascadeSelect";
@import "../src/CascadeMultiSelect.less";

body {
  margin-bottom: 400px;
  background-color: #fff;
  p {
    margin: 10px 0;
  }
}
