/**
 * CascadeMultiSelect Component Style for uxcore
 * @author guyunxiang
 *
 * Copyright 2015-2016, Uxcore Team, Alinw.
 * All rights reserved.
 */
@notificationPrefixCls: kuma-cascade-multi;

.@{notificationPrefixCls}-text-result {
  overflow-x: hidden;

  margin-right: 30px;

  white-space: nowrap;
  text-overflow: ellipsis;
  &-input {
    padding-right: 10px;
    width: 100%;
    border: 0;
  }
  &-input-disabled {
    background-color: #f7f7f7;
  }
}
