/**
 * CascadeMultiSelect Component Style for uxcore
 * @author guyunxiang
 *
 * Copyright 2015-2016, Uxcore Team, Alinw.
 * All rights reserved.
 */
@notificationPrefixCls: kuma-cascade-multi;

.@{notificationPrefixCls}-model {
  .kuma-dlg-body {
    overflow: hidden;

    padding: 0;
  }
  .kuma-dlg-footer {
    border-top: #ddd solid 1px;
  }
}
