/**
 * CascadeMultiSelect Component Style for uxcore
 * @author eternalsky
 *
 * Copyright 2015-2016, Uxcore Team, Alinw.
 * All rights reserved.
 */
@notificationPrefixCls: kuma-cascade-multi;
@list-item-back-color: #f5f5f5;

.@{notificationPrefixCls} {
  position: absolute;
  top: 0;
  left: 0;

  width: 672px;

  cursor: auto;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;

  border: 1px solid @border-color;
  .@{notificationPrefixCls}-content {
    float: left;
    overflow-y: auto;

    width: 150px;
    height: 310px;
    padding: 14px 0;

    border-left: 1px solid @border-color;
    background-color: #fff;
    &:first-child {
      border-left: 0;
    }
    .@{notificationPrefixCls}-list-item {
      overflow: hidden;

      height: 28px;
      padding: 0 15px;

      white-space: nowrap;
      text-overflow: ellipsis;
      -ms-text-overflow: ellipsis;

      line-height: 28px;

      -o-text-overflow: ellipsis;
      &:hover {
        background-color: @list-item-back-color;
      }
      s {
        margin-right: 5px;
      }
      .@{notificationPrefixCls}-item-label {
        span {
          vertical-align: middle;
        }
      }
    }
    .@{notificationPrefixCls}-list-noData {
      display: block;

      margin-top: 7px;
      margin-left: 21px;
    }
  }
  .@{notificationPrefixCls}-result {
    float: left;

    width: 220px;
    height: 310px;
    padding: 20px 15px;

    border-left: 1px solid @border-color;
    background-color: @list-item-back-color;
    .@{notificationPrefixCls}-result-title {
      padding-bottom: 10px;

      color: #999;
      .@{notificationPrefixCls}-result-clean {
        float: right;

        cursor: pointer;

        color: @brand-primary;
      }
    }
    .@{notificationPrefixCls}-result-tree {
      overflow-x: hidden;
      overflow-y: auto;

      height: 250px;
      margin-left: -15px;
      ul {
        margin-left: 15px;

        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        li {
          cursor: pointer;

          line-height: 25px;
          .kuma-icon-triangle-down,
          .kuma-icon-triangle-right {
            margin-right: 5px;

            vertical-align: middle;

            color: #999;
          }
          .tree-node-ul-li-span {
            display: inline-block;
            overflow-x: hidden;

            width: 85%;

            vertical-align: middle;
            white-space: nowrap;
            text-overflow: ellipsis;
            -ms-text-overflow: ellipsis;

            -o-text-overflow: ellipsis;
          }
          .tree-node-ul-li-all {
            margin-left: 10px;

            color: #999;
          }
        }
      }
    }
  }
}

.@{notificationPrefixCls}-text-result {
  overflow-x: hidden;

  margin-right: 30px;

  white-space: nowrap;
  text-overflow: ellipsis;
}
